# Lab 4 - Combining Dataframes

## NFL Offense Data

In [111]:
import pandas as pd
from glob import glob

In [112]:
week3 = pd.read_csv("nfloffenseweek3.csv")
week4 = pd.read_csv("nfloffenseweek4.csv")
week5 = pd.read_csv("nfloffenseweek5.csv")

1. Import the NFL week 3, 4, and 5 data and add a week column to dataset and set the value to 3, 4, or 5 for all rows from that week.

- The 3 below is each week seperate

In [ ]:
week3_column = week3.assign(week=3)
week3_column

In [ ]:
week4_column = week4.assign(week=4)
week4_column

In [ ]:
week5_column = week5.assign(week=5)
week5_column

- combined all data to create a big dataframe with the different weeks added

In [126]:
all_data_weeks = pd.concat([week3_column, week4_column, week5_column], ignore_index=True)
all_data_weeks

,rank,team,games,points_scored,total_yards,offensive_plays,yards_per_play,turnovers_lost,fumbles_lost,1st_downs,...,rushing_touchdowns,rushing_yards_per_attempt,rushing_1st_downs,penalties,penalty_yards,1st_down_penalties,percentage_scoring_drives,percentage_turnover_drives,expected_points,week
0,1,Baltimore Ravens,3,99,1141,166,6.9,3,1,55,...,2,5.6,18,8,44,5,42.9,8.6,35.63,3
1,2,Detroit Lions,3,95,1227,203,6.0,2,0,63,...,5,5.9,20,15,129,5,40.5,5.4,31.05,3
2,3,Buffalo Bills,3,91,1324,213,6.2,5,3,77,...,1,4.7,22,20,136,6,46.7,16.7,47.46,3
3,4,Kansas City Chiefs,3,88,1122,180,6.2,3,2,68,...,2,4.1,15,15,124,8,45.2,6.5,40.73,3
4,5,Philadelphia Eagles,3,86,1341,208,6.4,1,0,73,...,6,4.4,26,23,173,6,39.4,3.0,45.06,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,28,San Francisco 49ers,4,71,1298,238,5.5,5,3,68,...,4,4.4,29,24,190,8,27.3,11.4,-1.21,5
92,29,Los Angeles Rams,4,70,1176,248,4.7,9,3,79,...,3,3.3,17,14,131,6,35.9,23.1,-8.08,5
93,30,Denver Broncos,4,66,1343,247,5.4,4,3,66,...,2,4.2,20,37,286,7,31.8,9.1,-6.92,5
94,31,Chicago Bears,4,64,1099,219,5.0,7,3,59,...,4,5.2,34,21,171,8,31.8,13.6,-5.87,5
95,32,Indianapolis Colts,4,57,1359,270,5.0,9,4,82,...,1,3.5,22,23,203,5,25.0,20.5,-18.74,5

2. Combine the weekly dataframes by adding the dataframes together row-wise.

In [117]:
stacked_files = sorted(glob('nfloffenseweek*.csv'))
stacked_files

['nfloffenseweek3.csv', 'nfloffenseweek4.csv', 'nfloffenseweek5.csv']

In [ ]:
pd.concat((pd.read_csv(file) for file in stacked_files), ignore_index=True)

3. Make up 1 interesting question about this dataset. Answer it

- Which team had the most amount of total yards in one week?

In [135]:
total = all_data_weeks.loc[ : ,["team", "total_yards","week"]].sort_values("total_yards", ascending=False)
total.head(1)

             team  total_yards  week
32  Detroit Lions         1747     4

## World Population Data

In [119]:
iq = pd.read_csv("iq.csv")
life_expec = pd.read_csv("life_expectancy.csv")
quality_of_life = pd.read_csv("quality_of_life.csv")
pop_density = pd.read_csv("population_density.csv")
height_weight = pd.read_csv("height_weight_data.csv")

4. Join the height and weight data to the iq data.

In [137]:
height_wight_iq = height_weight.merge(iq)
height_wight_iq

,country,male_height,female_height,male_weight,female_weight,male_bmi,female_bmi,iq,education_expenditure_per_inhabitant,daily_max_temp
0,Netherlands,184,170,87.9,73.2,26.1,25.3,102,"1,701",14.4
1,Montenegro,183,170,90.4,75.3,27.0,26.2,84,NaN,21.0
2,Estonia,182,168,89.9,73.7,27.0,26.0,99,459,10.1
3,Denmark,182,169,86.8,70.2,26.3,24.6,99,"3,127",12.5
4,Iceland,181,168,89.2,72.6,27.1,25.6,101,"2,443",8.1
...,...,...,...,...,...,...,...,...,...,...
89,Cambodia,165,154,59.7,52.8,22.0,22.2,88,7,32.5
90,Philippines,165,154,61.8,55.5,22.8,23.5,86,38,31.9
91,Bangladesh,165,152,57.7,50.5,21.3,21.8,77,9,29.8
92,Nepal,164,152,60.5,51.6,22.5,22.3,77,10,24.8
93,Timor-Leste,159,152,53.9,49.0,21.2,21.2,60,30,30.9

5. Join population density to quiality of life data.

In [138]:
pop_life = pop_density.merge(quality_of_life)
pop_life

,country,area,population,pop_per_km_sq,stability,rights,health,safety,climate,costs,popularity
0,Singapore,719.0,5.45 M,7584.9,83,89,79,100,45,55,42
1,Bahrain,778.0,1.75 M,2247.2,59,45,61,92,63,72,29
2,Maldives,300.0,0.54 M,1812.1,64,39,72,87,63,59,18
3,Malta,320.0,0.52 M,1615.2,86,72,91,92,75,41,44
4,Bangladesh,147630.0,166.30 M,1126.5,43,26,44,74,50,61,33
...,...,...,...,...,...,...,...,...,...,...,...
56,Finland,338450.0,5.54 M,16.4,85,100,87,93,17,46,32
57,Norway,385203.0,5.41 M,14.0,89,99,90,99,17,42,37
58,Russia,17098250.0,143.45 M,8.4,47,26,74,75,33,62,43
59,Canada,9984670.0,38.25 M,3.8,85,92,78,97,33,37,45
60,Australia,7741220.0,25.74 M,3.3,86,92,87,100,90,23,41

6. Join life expectancy to quality of life data

In [139]:
all_about_life = life_expec.merge(quality_of_life)
all_about_life

,country,male_life_expectancy,female_life_expectancy,birth_rate,death_rate,stability,rights,health,safety,climate,costs,popularity
0,Hong Kong,82.9,88.0,5.8,6.8,77,85,100,97,49,61,52
1,Iceland,81.7,84.5,12.3,7.8,82,92,87,97,7,36,33
2,Japan,81.6,87.7,6.8,8.8,87,86,92,97,54,27,41
3,Norway,81.6,84.9,9.8,9.8,89,99,90,99,17,42,37
4,Singapore,81.5,86.1,8.5,10.8,83,89,79,100,45,55,42
...,...,...,...,...,...,...,...,...,...,...,...,...
99,Angola,58.7,64.4,39.8,7.8,27,24,10,55,63,53,31
100,Cameroon,58.4,60.9,34.4,8.9,40,19,9,27,60,51,34
101,Ivory Coast,56.9,59.5,35.2,9.7,47,36,11,58,53,57,37
102,Nigeria,54.1,56.0,37.0,11.4,18,24,12,23,54,57,39
103,Chad,53.1,55.9,41.2,11.7,46,12,0,31,50,49,44

7. Join iq, life expectancy, quality of life and population density into 1 dataframe.

In [ ]:
four_together = iq.merge(life_expec).merge(quality_of_life).merge(pop_density)
four_together

- making a giant dataframe with every one

In [141]:
all_together = iq.merge(life_expec).merge(quality_of_life).merge(pop_density).merge(height_weight)
all_together

,country,iq,education_expenditure_per_inhabitant,daily_max_temp,male_life_expectancy,female_life_expectancy,birth_rate,death_rate,stability,rights,...,popularity,area,population,pop_per_km_sq,male_height,female_height,male_weight,female_weight,male_bmi,female_bmi
0,Singapore,108,908,31.5,81.5,86.1,8.5,10.8,83,89,...,42,719.0,5.45 M,7584.9,173,161,72.8,60.2,24.3,23.2
1,South Korea,106,537,18.2,80.5,86.5,5.3,5.9,81,75,...,41,100339.0,51.74 M,515.7,175,163,74.7,61.0,24.4,23.1
2,Japan,105,"1,258",19.2,81.6,87.7,6.8,8.8,87,86,...,41,377970.0,125.68 M,332.5,172,158,69.5,54.8,23.6,21.9
3,China,104,27,19.0,75.0,79.4,8.5,7.1,69,37,...,73,9562910.0,"1,412.36 M",147.7,175,163,73.5,62.2,24.1,23.5
4,Switzerland,102,"2,539",15.1,81.1,85.2,9.9,8.8,91,99,...,40,41290.0,8.70 M,210.6,179,164,85.5,63.9,26.8,23.8
5,Netherlands,102,"1,701",14.4,79.8,83.1,9.7,9.7,84,98,...,36,41543.0,17.53 M,422.1,184,170,87.9,73.2,26.1,25.3
6,Finland,101,"1,990",8.2,79.4,85.0,8.4,10.0,85,100,...,32,338450.0,5.54 M,16.4,180,166,86.3,71.0,26.6,25.7
7,Canada,101,"1,661",7.3,79.7,83.9,9.4,8.1,85,92,...,45,9984670.0,38.25 M,3.8,178,165,87.3,72.4,27.4,26.7
8,Belgium,100,"1,676",14.8,78.6,83.1,9.9,11.0,75,87,...,40,30530.0,11.59 M,379.6,179,164,85.9,68.8,26.8,25.7
9,Germany,100,"1,385",13.7,78.6,83.4,9.3,11.9,82,94,...,42,357580.0,83.13 M,232.5,180,166,88.7,71.7,27.4,26.0
10,United Kingdom,100,"1,455",12.9,79.0,82.9,10.2,10.4,76,91,...,44,243610.0,67.33 M,276.4,178,164,86.7,72.7,27.4,27.1
11,New Zealand,100,"1,283",17.3,80.3,83.9,11.3,6.4,91,100,...,37,267710.0,5.12 M,19.1,178,165,88.9,75.9,28.2,28.0
12,Norway,99,"3,527",9.0,81.6,84.9,9.8,9.8,89,99,...,37,385203.0,5.41 M,14.0,180,166,89.1,72.6,27.4,26.2
13,Sweden,99,"2,359",9.9,80.7,84.2,10.9,9.5,87,99,...,37,447430.0,10.42 M,23.3,180,167,87.1,70.5,26.8,25.4
14,Luxembourg,99,"2,310",14.6,79.4,84.2,10.2,7.3,93,99,...,42,2590.0,0.64 M,246.7,178,165,86.2,69.7,27.2,25.7
15,Denmark,99,"3,127",12.5,79.6,83.6,10.4,9.4,86,100,...,41,42920.0,5.86 M,136.5,182,169,86.8,70.2,26.3,24.6
16,Australia,99,"1,390",24.4,81.2,85.3,11.5,6.3,86,92,...,41,7741220.0,25.74 M,3.3,179,165,88.3,72.6,27.7,26.8
17,France,98,"1,609",16.8,79.2,85.3,10.9,9.9,72,83,...,71,549087.0,67.50 M,122.9,178,164,82.6,66.0,26.0,24.4
18,United States,98,"1,904",18.8,74.5,80.2,10.9,10.3,63,81,...,71,9831510.0,331.89 M,33.8,177,163,90.6,77.1,29.0,29.0
19,Malta,97,619,23.1,80.8,84.6,8.6,7.9,86,72,...,44,320.0,0.52 M,1615.2,174,162,84.2,70.5,27.9,26.7
20,Italy,97,"1,175",17.8,80.1,84.7,6.8,12.6,65,65,...,59,301340.0,59.07 M,196.0,174,161,80.9,64.8,26.7,24.9
21,Spain,97,885,21.0,79.7,85.1,7.1,10.4,64,73,...,68,505935.0,47.33 M,93.5,176,162,84.0,65.9,27.2,25.1
22,Poland,97,298,13.4,72.6,80.8,9.4,12.6,69,67,...,52,312680.0,37.78 M,120.8,180,165,89.0,71.5,27.4,26.1
23,Russia,96,157,9.5,66.5,76.4,9.8,14.6,47,26,...,43,17098250.0,143.45 M,8.4,176,164,80.3,72.2,25.9,26.7
24,Ukraine,95,85,14.3,66.4,76.2,7.8,15.9,42,36,...,39,603550.0,43.81 M,72.6,180,166,87.6,72.9,27.0,26.4
25,Portugal,95,725,21.3,78.0,84.1,8.2,12.0,80,77,...,38,92226.0,10.30 M,111.7,174,161,79.5,65.8,26.3,25.4
26,Ireland,94,"1,635",13.2,80.4,84.1,11.2,6.4,84,90,...,36,70280.0,5.03 M,71.5,179,164,89.2,73.1,28.0,27.1
27,Vietnam,94,26,28.8,71.4,79.6,16.1,6.4,67,35,...,34,331230.0,98.17 M,296.4,168,158,61.2,54.0,21.7,21.7
28,Israel,94,"1,226",25.4,80.7,84.8,19.2,5.3,57,72,...,30,22070.0,9.36 M,424.3,176,162,85.4,71.1,27.7,27.1
29,Malaysia,93,273,32.1,74.4,78.5,16.4,5.3,70,58,...,44,330345.0,32.78 M,99.2,168,157,71.5,64.0,25.2,26.1
30,Greece,92,541,22.3,78.6,83.7,7.9,12.2,60,61,...,45,131960.0,10.66 M,80.8,179,165,88.1,73.7,27.6,26.9
31,Argentina,90,278,23.9,73.4,80.1,16.6,7.6,41,44,...,34,2780400.0,45.81 M,16.5,174,161,84.7,71.4,27.9,27.6
32,Romania,90,120,16.0,70.5,78.4,9.2,15.4,64,57,...,24,238400.0,19.12 M,80.2,177,164,85.1,72.2,27.1,26.8
33,Turkey,89,141,20.4,75.0,80.8,15.5,5.5,31,38,...,50,785350.0,85.04 M,108.3,176,161,84.0,75.0,27.2,28.8
34,Thailand,89,108,33.0,73.7,81.1,10.0,7.9,61,40,...,42,513120.0,69.95 M,136.3,171,159,69.8,63.3,23.8,25.0
35,Cambodia,88,7,32.5,67.7,72.2,21.6,6.0,56,19,...,35,181040.0,16.95 M,93.6,165,154,59.7,52.8,22.0,22.2
36,Philippines,86,38,31.9,67.4,75.6,19.9,6.0,52,39,...,35,300000.0,111.05 M,370.2,165,154,61.8,55.5,22.8,23.5
37,Mexico,86,279,29.8,72.3,77.9,17.0,6.2,46,37,...,53,1964375.0,130.26 M,66.3,170,157,79.3,70.7,27.5,28.5
38,Iran,84,120,26.5,75.8,78.1,17.9,4.8,19,15,...,41,1745150.0,85.03 M,48.7,175,161,77.3,70.5,25.3,27.2
39,Indonesia,84,29,31.6,69.8,74.2,17.4,6.6,61,44,...,39,1913580.0,276.36 M,144.4,166,154,61.4,56.2,22.4,23.7
40,Egypt,83,58,30.0,69.9,74.5,25.1,5.7,36,26,...,45,1001450.0,104.26 M,104.1,173,160,83.1,80.5,27.8,31.4
41,Ecuador,83,68,24.3,74.5,80.0,19.2,5.1,61,36,...,25,256370.0,17.89 M,69.8,167,155,74.2,66.9,26.6,27.9
42,Brazil,83,223,30.7,72.5,79.7,13.5,6.6,37,45,...,32,8515770.0,213.99 M,25.1,175,162,80.7,70.3,26.3,26.8
43,United Arab Emirates,83,378,34.4,77.4,79.5,10.1,1.6,82,65,...,28,83600.0,9.99 M,119.5,173,160,84.5,75.6,28.1,29.5
44,Bahrain,83,401,32.6,76.6,78.6,13.3,2.4,59,45,...,29,778.0,1.75 M,2247.2,172,158,74.0,62.2,24.9,24.9
45,Pakistan,82,16,30.9,66.5,68.5,27.4,6.8,24,26,...,40,796100.0,225.20 M,282.9,167,154,64.7,58.9,23.3,24.7
46,India,81,22,31.7,68.7,71.2,17.4,7.3,48,46,...,49,3287259.0,"1,393.41 M",423.9,166,155,59.6,52.5,21.7,21.9
47,Saudi Arabia,81,700,32.5,74.1,76.9,16.8,3.5,53,45,...,44,2149690.0,35.34 M,16.4,170,158,80.9,73.6,28.0,29.4
48,Afghanistan,80,13,24.4,63.7,66.7,31.2,6.2,28,9,...,63,652860.0,39.84 M,61.0,168,155,63.6,57.9,22.6,24.0
49,Sri Lanka,79,30,29.7,73.8,80.4,15.3,6.9,52,43,...,33,65610.0,22.16 M,337.7,167,155,63.1,57.3,22.5,23.7
50,Qatar,78,"1,574",33.7,79.3,82.1,9.2,1.3,77,60,...,38,11610.0,2.93 M,252.4,173,160,85.7,77.6,28.8,30.2
51,Bangladesh,77,9,29.8,71.1,74.9,17.5,5.5,43,26,...,33,147630.0,166.30 M,1126.5,165,152,57.7,50.5,21.3,21.8
52,South Africa,70,247,24.7,61.0,67.9,19.8,9.4,47,54,...,40,1219090.0,60.04 M,49.3,169,158,71.9,74.1,25.1,29.5
53,Nigeria,70,NaN,33.7,54.1,56.0,37.0,11.4,18,24,...,39,923770.0,211.40 M,228.8,170,158,65.1,59.7,22.6,24.0
54,Cameroon,65,29,31.0,58.4,60.9,34.4,8.9,40,19,...,34,475440.0,27.22 M,57.3,171,160,69.0,64.3,23.6,25.1

8. Make up 1 interesting question about this dataset and answer it

9. Make up 1 interesting question about this dataset and answer it

10. Make up 1 interesting question about this dataset and answer it